{{ with .Site.Params.algolia_docsearch }}
<!-- scripts for algolia docsearch -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
  algoliasearchNetlify({
    appId: '<OVLKCBSXIH>',
    apiKey: '<0971065d2e301eae3538120301829e32>',
    siteId: '<ecf7df22-21fe-4e32-8cae-fc62fb20dff5>',
    branch: 'main',
    selector: 'div#search',
    inputSelector: '.td-search-input',
  });
</script>
{{ end }}