+++
title = "OpenFunction"
linkTitle = "OpenFunction"
+++

{{< blocks/cover title="" image_anchor="top" height="full" color="white" >}}
<section>
	<img src="logo-1.png" alt="Welcome to OpenFunction" width="75%">
</section>
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="/zh-cn/docs">
		阅读文档 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/OpenFunction/OpenFunction">
		GitHub <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">OpenFunction 是一个云原生、开源的 FaaS（函数即服务）框架，旨在让开发人员专注于业务逻辑，而不必关心底层运行环境和基础设施。开发人员只需集中精力以函数的形式开发业务相关的源代码。</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/section color="white" %}}

<div class="container">
<img src="/images/docs/en/introduction/what-is-openfunction/openfunction-architecture.svg/" alt="OpenFunction Architecture" width="100%" style="margin: 1rem 0 5rem 0" />

<div style="margin:0 auto; max-width:800px">

<h2 style="text-align:center">OpenFunction 特性</h2>

<p style="text-align:left">

- 云无关、和云厂商的 BaaS 服务解耦

- 可插拔架构、支持多种函数运行时

- 支持同步和异步函数

- 独有的异步函数支持，直接从事件源消费事件

- 支持从函数源代码直接生成符合 OCI 标准的镜像

- 实现从 0 到 N 的弹性自动伸缩

- 基于事件源的特定指标实现领先的异步函数自动伸缩

- 引入 [Dapr](https://dapr.io/) 以简化同步和异步函数和 BaaS 服务的集成

- [K8s Gateway API](https://gateway-api.sigs.k8s.io/) 提供了领先的函数入口和流量管理能力

- 灵活易用的事件管理框架
</p>
</div>
</div>
{{% /blocks/section %}}


{{% blocks/lead color="primary" icon="fab fa-github" title="" url="https://github.com/OpenFunction/OpenFunction" %}}
<h1>期待您的贡献！</h1>

在 [GitHub <i class="fab fa-github"></i>](https://github.com/OpenFunction/OpenFunction) 上关注我们，并通过提交 [Pull Request](https://github.com/OpenFunction/OpenFunction/pulls) 开启您的 OpenFunction 旅程。


{{% /blocks/lead %}}
