[context.production.environment]
  HUGO_VERSION = "0.105.0"

[context.deploy-preview.environment]
  HUGO_VERSION = "0.105.0"

[context.branch-deploy.environment]
  HUGO_VERSION = "0.105.0"

[context.deploy-preview]
command = "cd themes/docsy && git submodule update -f --init && cd ../.. && hugo --gc --minify"

[build]
  publish = "public"
  command = "cd themes/docsy && git submodule update -f --init && cd ../.. && hugo --gc --minify"

[[plugins]]
package = "@algolia/netlify-plugin-crawler"
  [plugins.inputs]
  branches = ["main"]