.cncf-block {
  img {
    height: 90px;
  }
}

footer {
  min-height: auto;
}

.td-navbar .navbar-brand svg {
  height: 50px;
  width: auto;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

footer a {
  color: #d0e0f6;
}

.hide_doc_zh{
  &::after{
    display: none;
  }
}

.td-navbar {
  background: rgba(0, 170, 137, 0.9);;
  text-shadow: 1px 1px 2px #403f4c;
}

.td-overlay--dark::after {
  background-color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,.9);
}

.td-sidebar-nav .td-sidebar-link__page {
  font-weight: 400;
}

.td-sidebar-nav .dropdown .nav-link {
  padding-left: 1.5rem;
}

.td-navbar .dropdown {
  min-width: auto;
  &:last-child {
    .dropdown-menu {
      left: -38px;
    }
  }
}
