.cncf-block {
  img {
    height: 90px;
  }
}

footer {
  min-height: auto;
}

.td-navbar .navbar-brand svg {
  height: 50px;
  width: auto;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

footer a {
  color: #d0e0f6;
}