{{ $links := .Site.Params.links }}

<section class="row td-box td-box--4 td-box--gradient td-box--height-auto linkbox">
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
<h2>Connect and Contribute</h2>
<p>If you want to get more involved by contributing to {{ .Site.Title }}, join us here:
{{ with index $links "developer"}}
{{ template "community-links-list"  . }}
{{ end }}
<p>You can find out how to contribute in our <a href="http://localhost:1313/docs/development/">Development Guide</a>.
</div>
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
<h2>Community Call</h2>		
<p>Join our <a href="https://meeting.tencent.com/dm/HMec1CjT8F2i">Tencent</a> meeting!</p>
<p>Meeting Time: Thursday at 15:00~16:00 (GMT+08:00), biweekly starting from March 17th, 2022)</p>
<p><a href="https://kubesphere.io/contribution/">Meeting Calendar</a></p>
<p><a href="https://docs.google.com/document/d/1bh5-kVPegjNlIjjq_e37mS3ZhyXWhmmUaysFgeI9_-o/edit#">Meeting Notes</a></p>
</div>
</section>

{{ define "community-links-list" }}
<ul>
 {{ range . }}
 <li title="{{ .name }}">
   <a target="_blank" href="{{ .url }}"><i class="{{ .icon }}"></i> {{ .name }}:</a> {{ .desc }}
 </li>
  {{ end }}
</ul>
{{ end }}
