{{ $links := .Site.Params.links }}

<section class="row td-box td-box--4 td-box--gradient td-box--height-auto linkbox" style="margin:auto">

<section class="section-1" style="width: 50%; min-width:max-content" >
{{ with .Params.section1 }}
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="max-width:100%">
<h2>{{ .name }}</h2><br>
{{ .content }}
<br><br>
{{ range .children }}
<li>
{{ .content }}
<a href="{{ .link }}" target="_blank" rel="noopener noreferrer">{{ .linkContent }}</a>
{{ end }}
{{ with index $links "developer"}}
{{ template "community-links-list"  . }}
{{ end }}
</li>
</div>
{{ end }}
</section>

<section class="section-2">
{{ with .Params.section2 }}
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="max-width:100%;">
<h2>{{ .name }}</h2><br>
<a href="{{ .link }}" target="_blank" rel="noopener noreferrer">{{ .Content }}</a>
<br><br>
{{ range .children }}
<li>
{{ .content }}
<a href="{{ .link }}" target="_blank" rel="noopener noreferrer">{{ .linkContent }}</a>
</li>
{{ end }}
</div>
{{ end }}
</section>
</section>

{{ define "community-links-list" }}
{{ range . }}
<a title="{{ .name }}" target="_blank" href="{{ .url }}"><i class="{{ .icon }}"></i> {{ .name }} </a>&nbsp;

{{ end }}
{{ end }}