+++
title = "OpenFunction"
linkTitle = "OpenFunction"
+++

{{< blocks/cover title="" image_anchor="top" height="full" color="white" >}}
<section>
	<img src="logo-1.png" alt="Welcome to OpenFunction" width="75%">
</section>
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Quick Started <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/OpenFunction/OpenFunction">
		Learn More <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">OpenFunction is a cloud-native open source FaaS (Function as a Service) platform aiming to enable users to focus on their business logic without worrying about the underlying runtime environment and infrastructure. Users only need to submit business-related source code in the form of functions.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/section color="white" %}}

<div class="container">
<img src="openfunction-overview.jpg" alt="OpenFunction Architecture" width="100%" style="margin: 1rem 0 5rem 0" />

<div style="margin:0 auto; max-width:800px">

<h2 style="text-align:center">OpenFunction features</h2>

<p style="text-align:left">

- Convert business-related function source code to runnable application source code.

- Generate a deployable container image from the converted application source code.

- Deploy the generated container image to the underlying runtime environment such as K8s, and automatically scale up and down according to business traffic, and scale to 0 when there is no traffic.

- Provide event management functions for trigger functions.

- Provide additional functions to manage function versions, ingress management etc.
</p>
</div>
</div>
{{% /blocks/section %}}


{{% blocks/lead color="primary" %}}
<div class="col" >
<h1>CustomResourceDefinitions</h1>
<p>The core function of OpenFunction is to enable users to develop, run, and manage business applications as execution units of code functions. OpenFunction implements the following custom resource definitions</p>
</div>
{{% /blocks/lead %}}

{{% blocks/section color="secondary" %}}
{{% blocks/feature icon="fa-lightbulb" title="Function" %}}
The goal of Function is to control the lifecycle management from user code to the final application that can respond to events through a single profile.

Function will manage and coordinate Builder and Serving resources to handle the details of the process.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-lightbulb" title="Builder" %}}The goal of Builder is to compile the user's function source code into an application image that can be run in a cloud-native environment.

It will fetch the code from the code repository, build the application image locally and publish it to the container image repository.

Currently, OpenFunction Builder uses Tekton and Cloud Native Buildpacks to build container images.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-lightbulb" title="Serving" %}}The goal of Serving is to serving user functions and implementing event-driven functions response.

Currently, OpenFunction supports two serving runtimes, Knative and OpenFuncAsync. At least one of these runtimes needs to be installed.
{{% /blocks/feature %}}

{{% /blocks/section %}}


{{% blocks/lead color="orange" %}}

If you have already installed the OpenFunction platform, 

refer to [OpenFunction samples](https://github.com/OpenFunction/samples) to run a sample function.

{{% /blocks/lead %}}


{{% blocks/lead color="dark" icon="fab fa-github" title="" url="https://github.com/OpenFunction/OpenFunction" %}}
<h1>Contributions welcome!</h1>

We do a [Pull Request](https://github.com/OpenFunction/OpenFunction/pulls) contributions workflow on [GitHub](https://github.com/OpenFunction/OpenFunction). New users are always welcome!

Find us in [GitHub <i class="fab fa-github"></i>](https://github.com/OpenFunction/OpenFunction) 

{{% /blocks/lead %}}

