+++
title = "OpenFunction"
linkTitle = "OpenFunction"
+++

{{< blocks/cover title="" image_anchor="top" height="full" color="white" >}}
<section>
	<img src="logo-1.png" alt="Welcome to OpenFunction" width="75%">
</section>
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Documentation <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/OpenFunction/OpenFunction">
		GitHub <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">OpenFunction is a cloud-native open-source FaaS (Function as a Service) platform aiming to let you focus on your business logic without having to maintain the underlying runtime environment and infrastructure. You can concentrate on developing business-related source code in the form of functions.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/section color="white" %}}

<div class="container">
<img src="openfunction-0.5-architecture.png" alt="OpenFunction Architecture" width="100%" style="margin: 1rem 0 5rem 0" />

<div style="margin:0 auto; max-width:800px">

<h2 style="text-align:center">OpenFunction Features</h2>

<p style="text-align:left">

- Cloud-native and open-source

- Automatically build code into OCI-compliant images

- Automatically deploy application with dynamic scaling capabilities

- Provide events framework to make functions event-driven

- Provide function version control and ingress traffic management capabilities
</p>
</div>
</div>
{{% /blocks/section %}}

{{% blocks/lead color="primary" icon="fab fa-github" title="" url="https://github.com/OpenFunction/OpenFunction" %}}
<h1>New contributors are always welcome!</h1>

Find us on [GitHub <i class="fab fa-github"></i>](https://github.com/OpenFunction/OpenFunction) and create a [pull request](https://github.com/OpenFunction/OpenFunction/pulls).

{{% /blocks/lead %}}

